* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

body {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}

/* header */
.header {
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

.logo {
    margin-right: auto;
}

.gnb {
    display: flex;
    margin-right: 30px;
}

.gnb li a {
    display: block;
    padding: 10px 30px;
    font-weight: bold;
}

.gnb li a:hover {
    color: orangered;
}

.btn_login {
    padding: 9px 20px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: 1px solid orangered;
    cursor : pointer ;
}

.btn_login:hover {
    background-color: transparent;
    color: orangered;
}

.slide .item {
    height: 400px;
    background-image: url("../img/img_07.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 1120px;
    margin: 0 auto;
}

.section_01 img {
    width: 100%;
    display: block;
}

.section_01 ul {
    display: flex;
}

/* footer */
.footer {
    padding: 40px 0;
    text-align: center;
    color: #666;
    font-size: 12px;
    border-top: 1px solid #ccc;
}